[user]
	name = Anshul Dalal
	email = anshulusr@gmail.com
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[core]
	editor = helix
[sendemail]
	confirm = auto
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
	smtpEncryption = tls
	smtpUser = anshulusr@gmail.com
[include]
	path = .gmail_app_pass
